/* Arquivo para cores */

/* Legenda das dos prefixos:
    txt- usado para sinalizar que a formatação específica será feita em um texto;
    bd-  usado para sinalizar que a formatação será feita nas bordas;
    bg-  usado para sinalizar o fundo dos elementos;
*/

/* Legenda das cores:
    Os links estão dividos assim:
        link de voltar ao menu:                 .btn-voltar;
        link no texto com fundo branco:         .link-r;
        link no texto com fundo de outra cor:   .link-y;
        link do menu:                           .link-menu;

    Os fundos são por ordem que eles aparecem entao cada section diferente terá um fundo com uma cor específica;
*/

/* Estilizando as fontes*/

/* Estilizando as cores de fundo */
.section-one {
    background-color: #27174C;
}

.intro,
.citacao {
    background-color: #3F1F98;
}

#menu {
    background-color: #F7F169;
}

#tag1 {
    background-color: #363636;
}

.tool-acess,
#line,
#tag2,
#tag6,
article{
    background-color: #FFF;
}

#tag3 {
    background-color: #22AA77;
}

#tag4 {
    background-color: #2A0DF7;
}

#tag5 {
    background-color: #363636;
}

#tag1 {
    background-color: #363636;
}

footer {
    background-color: #363636;
}

/* Estilizando os links */
.link-y {
    color: #F7F169;
}

.link-r {
    color: #7E0F00;
}

.link-menu {
    color: #363636;
}

.btn-menu {
    color: #FFF;
    background-color: #000;
}

/* Estilizando as cores de texto */
.section-one,
.intro,
.citacao,
#tag1,
#tag3,
#tag4 h2,
#tag4,
#tag5,
footer{
    color: #FFF;   
}

.tool-acess,
.menu,
#tag2,
article p,
article h3,
article h4,
article li,
#tag6{
    color: #363636;
}

/* Estlizando os códigos de demonstração */
code {
    background-color: #272822;
    color: #FFF;
}

.tagHtml { color: #FFF; }

.nameTag { color: #e92f60; }

.attrTag { color: #82a509; }

.aspasTag { color: #e2d258; }