section(
  id="tag2"
  class="section section--two"
  )
  h2(class="section__title") Por que um site deve ser acessível?
  p(class="section__content") Segundo o censo do IBGE (Instituto Brasileiro de Geografia e Estatística), em 2010, há 45.606.048 de brasileiros, 23,9% da população total, <a href="http://www.pessoacomdeficiencia.gov.br/app/sites/default/files/publicacoes/cartilha-censo-2010-pessoas-com-deficienciareduzido.pdf" title="Arquivo PDF com o Censo do IBGE sobre pessoas com deficiência"  class="link-r" target="blanck">com algum tipo de deficiência</a>. Se formos para uma amplitude mundial, há mais de <a href="https://nacoesunidas.org/acao/pessoas-com-deficiencia/" title="Ir para o site das Nações Unidas, na seção sobre pessoas com deficiencia" class="link-r" target="blanck">650 milhoes de pessoas com alguns tipo de deficiência</a> Logo, é importante não deixar que o conteúdo web não seja acessível a essas pessoas. A obrigatoriedade de um site ser acessível não deve ser só uma responsabilidade de sites governamentais, antes de toda uma web que pretender ser universal

  include ../includes/link-menu.pug
