section(
  id="tag3"
  class="section section--three"
  )
  h2(class="section__title") Quais as tecnologias para acessibilidade?

  ul
    li(class="section__content")
      span(class="section__content--bold") Leitor de tela
      |  permite ao usuário com deficiência visual “ouvir” o conteúdo web que está na tela do dispositivo

    li(class="section__content")
      span(class="section__content--bold") Navegador Textual
      |  este tipo de navegador preza pelo carregamento somente de textos, não carregando imagens e conteúdos ilustrativos. Usado por deficientes visuais ou conexão lenta

    li(class="section__content")
      span(class="section__content--bold") Display em Braile
      |  este dispositivo de saída imprime textos em braile para deficientes visuais. A partir de circuitos eletrônicos e mecânicos, ele imprime as letras em um dispositivo tátil no sistema brail

    li(class="section__content")
      span(class="section__content--bold") Navegador com voz
      |  permite a navegação através de comandos de voz. Usado por pessoas com alguma incapacitação motora

    li(class="section__content")
      span(class="section__content--bold") Ampliador de tela
      |  são softwares que ampliem os textos na tela para pessoas com dificuldade de enxergar

  include ../includes/link-menu.pug
