doctype html
html(lang="pt-br")
  head
    meta(charset="utf-8")
    meta(name="description" content="Uma guia de acessbilidade para desenvolvedores web, aqui você encontra conteúdo de qualidade sobre o tema")
    meta(name="author" content="Emanuel Gonçalves")
    meta(name="keywords" content="Acessibilidade, Desenvolvimento Web")
    meta(name="viewport" content="width=device-width,initial-scale=1")

    link(
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Raleway:400,700"
    )

    link(
      rel="stylesheet"
      href="/static/css/app.css"
    )

    title Guia de Acessibilidade na Web
