doctype html
html(lang="pt-br")
  head
    meta(charset="utf-8")
    meta(name="description" content="")
    meta(name="author" content="")
    meta(name="keywords" content="")
    meta(name="viewport" content="")
    meta(name="viewport" content="width=device-width,initial-scale=1")

    link(
      rel="stylesheet"
      href="/css/all.css"
    )

    title Boilerplate front-end /title
