.section

  .section__article
    border-radius: 2px
    padding: 1em
    margin: .4em 0

    .section__article__title
      font-weight: bold
      font-size: 1.2em

      span
        display: block
        width: 80%
        height: 2px
        background-color: #688CD2
        margin-bottom: 1em

    .section__article__code
      display: block
      padding: 1em
      color: #20313B
      background-color: #efecec
      margin: .5em 0

.section--four .section__article
  border: 1px solid #688CD2

.section--five .section__article
  background-color: #FFF

  .section__content
    color: #4a4a4a

.section--six .section__article
  border: 1px solid #688CD2
