.section
  padding: 2em
  position: relative

  &.section--one
    background-color: #63C8BA

  &.section--three
    background-color: #32383B

    .section__title,
    .section__content
      color: white

  &.section--five
    background-color: #688CD2

    .section__title,
    .section__content
      color: white

  &.section--seven
    background-color: #22AA77

    .section__title,
    .section__content a
      color: white

    .section__content a:hover
      color: #4a4a4a

  .section__title
    text-align: center
    font-weight: bold
    font-size: 1.8em
    margin-bottom: 1em

  .section__content
    font-size: 1.1em
    margin: 1em 0

    .section__link:hover
      color: inherit
      text-decoration: underline

    .section__content--bold
      font-weight: bold
